<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Idea List - 2020-10-24 22:02</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="up" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/idea">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <p><br>
        
    <ion-list>
      <ion-item button [routerLink]="['/idea', idea.id]" *ngFor="let idea of (ideas | async), let i = index;">
        {{i}} - {{ idea.topic }} --> {{ (idea.notes.length>6)? (idea.notes | slice:0:20)+'..':(idea.notes) }} ({{idea.createdDate.toDate() |  date:'dd.MM.yyyy '}})
      </ion-item>
    </ion-list>

  <table class="blueTable">
    <thead>
      <tr>
        <th *ngFor="let head of headIdeaElements" >{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr   *ngFor="let idea of (ideas | async), let i = index;">
        <th>      <a [routerLink]="['/idea', idea.id]">
          {{i}}
        </a></th>
        <td>{{idea.topic}}</td>
        <td>{{ (idea.notes.length>6)? (idea.notes | slice:0:20)+'..':(idea.notes) }}</td>
        <td>{{idea.createdDate.toDate() |  date:'dd.MM.yyyy HH:mm:ss '}}</td>
        <!-- ALTERNATIVE -->
        <!-- <td>{{idea.createdDate.toDate() |  date:'dd/MM/yyyy HH:mm:ss '}}</td>
              <td>{{idea.createdDate.seconds * 1000 |  date:'dd/MM/yyyy HH:mm:ss '}}</td>
              <td>{{idea.createdDate.toMillis() |  date:'dd/MM/yyyy HH:mm:ss '}}</td>
         -->
         <td>{{idea.lastUpdate.toDate() |  date:'dd/MM/yyyy HH:mm:ss '}}</td>
      </tr>
    </tbody>
  </table>


</ion-content>
 